<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="LoginForm">            
            <div class="card">
                <div class="card-header">
                    Login Here
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="">Username/Email</label>
                        <!--  -->
                        <input [ngClass]="{'is-invalid': LoginForm.controls.email.errors  && CheckForm }" formControlName="email" type="text" class="form-control" />
                         <div *ngIf="LoginForm.controls.email.errors && CheckForm" class="invalid-feedback">
                             <div *ngIf="LoginForm.controls.email.errors.required">
                                 Enter Email/Username
                             </div>
                             <div *ngIf="LoginForm.controls.email.errors.email">
                                 Email Id is Not Correct
                             </div>
                         </div>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <!--  -->
                <input [ngClass]="{'is-invalid': LoginForm.controls.password.errors && CheckForm }" formControlName="password" type="password" class="form-control" />
                <div *ngIf="LoginForm.controls.password.errors && CheckForm" class="invalid-feedback" >
                    Enter Your password
                </div>
                
                <!-- <P class="text-denger text-center" >
                    {{ errorMsg }}
                </P> -->
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" (click)="login()" >Login</button>
                    <!-- (click)="login()" -->
                    
                   
                </div>
            </div>
        </div>
    </form>
    </div>
</div>
