<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="adminLoginForm">
            <div class="card">
                <div class="card-header">
                    Login Here
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="">Username/</label>
                        <!--  -->
                        <input [ngClass]="{'is-invalid': adminLoginForm.controls.username.errors  && checkForm }" formControlName="username" type="text" class="form-control" />
                         <div *ngIf="adminLoginForm.controls.username.errors && checkForm" class="invalid-feedback">
                             <div *ngIf="adminLoginForm.controls.username.errors.required">
                                 Enter /Username
                             </div>
                             <div *ngIf="adminLoginForm.controls.username.errors.username">
                                 username Id is Not Correct
                             </div>
                         </div>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <!--  -->
                <input [ngClass]="{'is-invalid': adminLoginForm.controls.password.errors && checkForm }" formControlName="password" type="password" class="form-control" />
                <div *ngIf="adminLoginForm.controls.password.errors && checkForm" class="invalid-feedback" >
                    Enter Your password
                </div>
                
                <P class="text-denger text-center" >
                    {{ errorMsg }}
                </P>
                </div>
                <div class="card-footer">
                    <button type="submit" (click)="submit()" class="btn btn-primary"  >Login</button>
                    <!--  -->
                    
                   
                </div>
            </div>
        </div>
    </form>
    </div>
</div>
