<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="signinForm">
            <div class="card">
                <div class="card-header">
                    <h4>User Registratrion</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="">Full Name</label>
                        
                        <input [ngClass]="{'is-invalid':signinForm.controls.full_name.errors && checkForm}" formControlName="full_name" type="text" placeholder="Full Name" class="form-control" />
                        <div *ngIf="signinForm.controls.full_name.errors && checkForm" class="invalid-feedback">Insert Your Full Name</div>
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        
                        <input [ngClass]="{'is-invalid':signinForm.controls.email.errors && checkForm}" formControlName="full_name" formControlName="email" type="text" class="form-control" />
                        <div *ngIf="signinForm.controls.email.errors && checkForm" class="invalid-feedback">
                            <div *ngIf="signinForm.controls.email.errors.required">Insert Your Email Id</div>
                            <div *ngIf="signinForm.controls.email.errors.email">Email Id is not Correct</div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        
                        <input [ngClass]="{'is-invalid': signinForm.controls.password.errors && checkForm }" formControlName="password" type="password" class="form-control" />
                        <div *ngIf="signinForm.controls.password.errors && checkForm" class="invalid-feedback">Insert Your Password</div>
                    </div>
                    <div class="form-group">
                        <label for="">Re-Password</label>
                        <!--   -->
                        <input [ngClass]="{'is-invalid': signinForm.controls.re_password.errors && checkForm }" formControlName="re_password" type="password" class="form-control" />
                        <div *ngIf="signinForm.controls.re_password.errors && checkForm" class="invalid-feedback">
                            <div *ngIf="signinForm.controls.re_password.errors.required">Insert Your Re-Password</div>
                            <div *ngIf="signinForm.controls.re_password.errors.passErr">Password and Re-Password not matched</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Address</label>
                        
                        <textarea [ngClass]="{'is-invalid': signinForm.controls.address.errors && checkForm }" formControlName="address"   class="form-control" ></textarea>
                        <div *ngIf="signinForm.controls.address.errors && checkForm" class="invalid-feedback">Insert Your Address</div>
                    </div>
                    <div class="form-group">
                        <label for="">City</label>
                        <!-- -->
                        <select [ngClass]="{'is-invalid': signinForm.controls.city.errors && checkForm }"  formControlName="city"   class="form-control">
                            <option>Select</option>
                            <option>Indore</option>
                            <option>Mumbai</option>
                            <option>Pune</option>
                        </select>
                        <div *ngIf="signinForm.controls.city.errors && checkForm" class="invalid-feedback">Select Your City</div>

                    </div>
                    <div class="form-group">
                        <label for="">Contact</label>
                        
                        <input [ngClass]="{'is-invalid':signinForm.controls.contact.errors && checkForm}" formControlName="contact" type="text" class="form-control" />
                        <div *ngIf="signinForm.controls.contact.errors && checkForm" class="invalid-feedback">
                            <div *ngIf="signinForm.controls.contact.errors.required">Insert Your Contact Number</div>
                            <div *ngIf="signinForm.controls.contact.errors.numErr">Contact Number should be in Digit</div>
                            <div *ngIf="signinForm.controls.contact.errors.lengthErr">Insert at least 10 digit</div>
                        </div>
                    </div>
                    
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary"  type="submit" (click)="signin()">Signin</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
 