<app-header></app-header>
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2 mt-4">
                <table class="table table-dark">
                    <thead>
                        <tr>
                         <td>S.No</td>   
                        <td>Service</td>
                        <td>doctor</td>
                        <td>name</td>
                        <td>email</td>
                        <td>Edit</td>
                        <td>Del</td>
                    </tr>
                    <tr   *ngFor="let a of allAppointment; let n = index">
                        <td>{{ n+1 }}</td>
                        <td>{{ a.select_a_service }}</td>
                        <td>{{ a.select_doctor }}</td>
                        <td>{{ a.your_name }}</td>
                        <td>{{ a.your_email }}</td>
                       <td> <i class="fa fa-check  fa-lg" aria-hidden="true" routerLink="/admin/dash">&nbsp;</i></td>
                       <td><i class="fa fa-trash  fa-lg"  routerLink="/admin/" data-toggle="modal" data-target="#delModal" (click)="askDelete(a)" aria-hidden="true">&nbsp;</i></td>
                        <!-- <td><a routerLink="/admin/update/{{ a._id }}" class="btn btn-sm btn-info">Edit</a></td> -->
                        <!-- <td><a data-toggle="modal" data-target="#delModal" href="#" (click)="askDelete(a)" class="btn btn-sm btn-danger">Delete</a></td> -->
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>



</div>


<div id="delModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Delete !</h4>
            </div>
            <div class="modal-body">
                <!-- <p>Are You sure want to delete <b *ngIf="allAppointment">{{ a.your_name}}</b> !</p> -->
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" #closeBtn data-dismiss="modal">Close</button>
                <button class="btn btn-danger"  (click)="confDelete()">Delete</button>
            </div>
        </div>
    </div>
</div>
